# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node & Next.js (For the frontend)
node_modules/
.next/
out/
build/
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db